<header class="app-header">
  <nav class="app-nav">
    <a routerLink="/" class="app-title">Recipes App</a>
    <div class="nav-links">
      <a *ngIf="!isAddRecipePage()" routerLink="/addRecipe" class="nav-link add">Add Recipe</a>
      <a *ngIf="!isAddRecipePage()" routerLink="/favorites" class="nav-link" (click)="toggleOverlay()">
        Favorites <i class="fas fa-heart"></i>
      </a>
    </div>
  </nav>
</header>


<app-favorites *ngIf="showFavorites" (closeFavorites)="toggleOverlay()"></app-favorites>